
.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 30px;
    padding: 0 20%;
}

.Home > * {
    margin: 0 auto;
}
