.CreateChatRoom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.CreateChatRoom button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(125, 123, 123);

}